@model Ejemplo1Core.Models.Reserva

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Crear Reservas</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger">
                </div>
                <div class="form-group">
                    <label asp-for="Fecha"></label>
                    <input asp-for="Fecha" class="form-control" />
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EstudianteId"></label>
                    <select asp-for="EstudianteId" class="form-control" asp-items="ViewBag.EstudianteId"></select>
                    <span asp-validation-for="EstudianteId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LibroId"></label>
                    <select asp-for="LibroId" class="form-control" asp-items="ViewBag.LibroId"></select>
                    <span asp-validation-for="LibroId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
